USE [master]
GO
/****** Object:  Database [Fastfood]    Script Date: 5/28/2023 12:44:35 PM ******/
CREATE DATABASE [Fastfood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fastfood', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Fastfood.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fastfood_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Fastfood_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fastfood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fastfood]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[Email] [varchar](100) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [varchar](20) NULL,
	[roleId] [int] NULL,
	[avatar] [nvarchar](1000) NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK__Account__3214EC07B224BB4F] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [nvarchar](6) NOT NULL,
	[AccountID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetails]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetails](
	[CartID] [nvarchar](6) NULL,
	[ProductID] [int] NULL,
	[quantityCart] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery1]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery1](
	[AccountID] [int] NOT NULL,
	[OrderID] [nvarchar](6) NOT NULL,
 CONSTRAINT [PK_Delivery1] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[AccountID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[scrip] [nvarchar](1000) NULL,
	[date] [datetime] NULL,
	[rating] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [nvarchar](6) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceDetails] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__OrderDet__3214EC07E182AECD] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [nvarchar](6) NOT NULL,
	[AccountID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[StoreID] [int] NULL,
	[Status] [int] NOT NULL,
	[Shipper] [int] NULL,
	[AddressShip] [nchar](100) NULL,
	[Method] [int] NULL,
 CONSTRAINT [PK__Orders__3214EC07B8DAED87] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Image] [varchar](2000) NULL,
	[CategoryId] [int] NULL,
	[Quantity] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Product__3214EC27AD98E137] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Id] [int] NOT NULL,
	[question] [nvarchar](1000) NOT NULL,
	[answer] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[StoreID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WareHouse]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WareHouse](
	[ProductID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [Username], [Password], [name], [Email], [Address], [Phone], [roleId], [avatar], [active]) VALUES (1, N'iamhaao', N'lehao1911', N'Lê Hào ', N'haolee2002tst@gmail.com', N'Thừa Thiên Huế', N'0899202235', 1, N'./images/8e12a0df-d89a-46a3-a22e-e8a2fbb9ace6_org.apache.catalina.core.ApplicationPart@6308070b', 1)
INSERT [dbo].[Account] ([AccountID], [Username], [Password], [name], [Email], [Address], [Phone], [roleId], [avatar], [active]) VALUES (2, N'tiendung', N'123', N'Lê Tiến Dũng', N'dungltde160491@fpt.edu.vn', N'Hà Tinh', N'0123456789', 2, N'./images/8c808d86-5b1d-4ee7-b011-7a01cc31f39f_org.apache.catalina.core.ApplicationPart@6c976b57', 1)
INSERT [dbo].[Account] ([AccountID], [Username], [Password], [name], [Email], [Address], [Phone], [roleId], [avatar], [active]) VALUES (3, N'lehao', N'123', N'Lê Hào', N'haolde160051@fpt.edu.vn', N'Huế', N'0967327500', 2, N'./images/38e76073-feb2-4388-99d2-b676b6b81f24_org.apache.catalina.core.ApplicationPart@41e9f67e', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Name], [Description]) VALUES (1, N'Chicken', NULL)
INSERT [dbo].[Category] ([CategoryID], [Name], [Description]) VALUES (2, N'Icream', NULL)
INSERT [dbo].[Category] ([CategoryID], [Name], [Description]) VALUES (3, N'Pizza', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [PriceDetails]) VALUES (N'1zbHN0', 21, 1, CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [PriceDetails]) VALUES (N'1zbHN0', 23, 2, CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [PriceDetails]) VALUES (N'1zbHN0', 28, 2, CAST(12000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Orders] ([OrderID], [AccountID], [OrderDate], [TotalAmount], [StoreID], [Status], [Shipper], [AddressShip], [Method]) VALUES (N'1zbHN0', 3, CAST(N'2023-05-18T00:00:00.000' AS DateTime), CAST(37000.00 AS Decimal(18, 2)), 1, 2, 7, N'Triều Sơn Trung-Hương Toàn-Hương Trà-Thừa Thiên Huế                                                 ', 1)
INSERT [dbo].[Orders] ([OrderID], [AccountID], [OrderDate], [TotalAmount], [StoreID], [Status], [Shipper], [AddressShip], [Method]) VALUES (N'2q3ScC', 2, CAST(N'2023-05-23T00:00:00.000' AS DateTime), CAST(10200.00 AS Decimal(18, 2)), 1, 3, 7, N'DAI HOC FPT DA NANG                                                                                 ', 0)
INSERT [dbo].[Orders] ([OrderID], [AccountID], [OrderDate], [TotalAmount], [StoreID], [Status], [Shipper], [AddressShip], [Method]) VALUES (N'3vlhST', 3, CAST(N'2023-05-18T00:00:00.000' AS DateTime), CAST(74000.00 AS Decimal(18, 2)), 1, 2, 7, N'Triều Sơn Trung-Hương Toàn-Hương Trà-Thừa Thiên Huế                                                 ', 0)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryId], [Quantity], [CreatedAt]) VALUES (6, N'Chicken Spicy', N'
Gà rán cay là một món ăn độc đáo và hấp dẫn, với hương vị cay nồng và cảm giác thích thú khi ăn', CAST(2000.00 AS Decimal(18, 2)), N'./images/chicken1.png', 1, 20, CAST(N'2022-05-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryId], [Quantity], [CreatedAt]) VALUES (7, N'Chicken Cheese', N'Gà rán vị phô mai là một biến thể hấp dẫn của gà rán truyền thống, với lớp vỏ giòn rụm bên ngoài và phô mai béo ngậy bên trong.', CAST(2100.00 AS Decimal(18, 2)), N'./images/chicken2.png', 1, 25, CAST(N'2022-05-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryId], [Quantity], [CreatedAt]) VALUES (8, N'Chicken Traditional', N'Lớp vỏ bên ngoài của gà rán truyền thống thường có màu nâu vàng hấp dẫn, có vẻ ngoài hấp dẫn và mùi thơm ngon. ', CAST(18000.00 AS Decimal(18, 2)), N'./images/chicken3.png', 1, 30, CAST(N'2022-05-11T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (2, N'user')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (3, N'shipper')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Store] ([StoreID], [Name], [Address]) VALUES (1, N'FastBites DANANG', N'126 Nguyễn Văn Linh, Vĩnh Trung, Thanh Khê, Đà Nẵng 550000, Việt Nam')
INSERT [dbo].[Store] ([StoreID], [Name], [Address]) VALUES (2, N'FastBites HANOI', N'136 Trần Hưng Đạo, Cửa Nam, Hoàn Kiếm, Hà Nội, Việt Nam')
INSERT [dbo].[Store] ([StoreID], [Name], [Address]) VALUES (3, N'FastBites HCM', N'283 Đ. Trần Hưng Đạo, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh, Việt Nam')
GO
INSERT [dbo].[WareHouse] ([ProductID], [StoreID], [quantity]) VALUES (21, 1, 67)
INSERT [dbo].[WareHouse] ([ProductID], [StoreID], [quantity]) VALUES (21, 2, 46)
INSERT [dbo].[WareHouse] ([ProductID], [StoreID], [quantity]) VALUES (21, 3, 51)
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Account__roleId__59FA5E80] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Account__roleId__59FA5E80]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD FOREIGN KEY([CartID])
REFERENCES [dbo].[Cart] ([CartID])
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Delivery1]  WITH CHECK ADD  CONSTRAINT [FK_Delivery1_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Delivery1] CHECK CONSTRAINT [FK_Delivery1_Account]
GO
ALTER TABLE [dbo].[Delivery1]  WITH CHECK ADD  CONSTRAINT [FK_Delivery1_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Delivery1] CHECK CONSTRAINT [FK_Delivery1_Orders]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__Accoun__5AEE82B9] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__Accoun__5AEE82B9]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__Produc__5BE2A6F2] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__Produc__5BE2A6F2]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__2F10007B] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Order__2F10007B]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Produ__300424B4] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Produ__300424B4]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__AccountI__2C3393D0] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__AccountI__2C3393D0]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Store] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Store]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[WareHouse]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[WareHouse]  WITH CHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
GO
/****** Object:  StoredProcedure [dbo].[bestseller]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[bestseller] 
as

select top(6) o.ProductID,COUNT(o.Quantity) as number  from OrderDetails O group by o.ProductID order by number;
GO
/****** Object:  StoredProcedure [dbo].[newproduct]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[newproduct] 
as
begin
  select top(2) * from Product order by CreatedAt DESC;
END 
GO
/****** Object:  StoredProcedure [dbo].[orderStatus]    Script Date: 5/28/2023 12:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[orderStatus] 
as 
select * from Orders where Status=0
GO
USE [master]
GO
